@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* header style */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1320px;
  height: 600px;
  margin: 50px;
  border-radius: 16px;
}

.sub-heading {
  text-align: center;
  padding-top: 150px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: "Merriweather", serif;
}
.heading-title {
  text-align: center;
  padding: 0px 300px 150px 300px;
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  font-family: "Merriweather", serif;
}
