/* google font */

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* header and banner style */

.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1320px;
  height: 600px;
  margin: 50px;
  border-radius: 16px;
}

.sub-heading {
  text-align: center;
  padding-top: 150px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: "Merriweather", serif;
}
.heading-title {
  text-align: center;
  padding: 0px 300px 150px 300px;
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  font-family: "Merriweather", serif;
}

/* ALL CATEGORIES SECTION */

.discount {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
}
.discount-des {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Inter", sans-serif;
}
.discount-categories {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-top: 0px;
}
.discount-img {
  margin: 30px 300px;
}
/* midnight party section */
.midnight-party {
  background-image: url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 100px;
}
.party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
}
.party-des {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: transparent;
}

.info span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
}
.info {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px;
  border-radius: 16px;
}
.btn {
  padding: 16px 32px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}

/* coming soon style */
.coming-soon {
  display: flex;
  margin: 50px;
  align-items: center;
}

.cs-sub {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
}
.cs-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 0px;
}
.cs-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.coming-soon-img {
  border-radius: 463px;
  border: 15px solid #f00;
  margin-right: 50px;
}
.cs-img {
  margin: 40px;
}
.cs-footer {
  color: #f00;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
}
.cs-footer-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
/* Holiday sale style */
.holiday-sale {
  margin: 50px 150px;
}
.holiday-sub-title {
  color: #070211;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}
.holiday-title {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-top: 0px;
}
.holiday-title span {
  color: #070211;
}
.holiday-des {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 32px; /* 160% */
}
.holiday-img {
  display: flex;
  background-image: url("../resources/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.holiday-sub-img {
  position: bottom left;
}
